*{
	font-family: "Times New Roman",Georgia,Serif;
}
a{
    text-decoration: none;
    color: black;
}
hr{
    clear: both;
}
div{
    font-size: 17px;/*inheritence*/
}
#wrapper{
    width: 900px;
    height: 1010px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:15px;
}
#contact{
    float: left;/*fluid layout*/
    margin-bottom: 8px; 
}
#photo{
    margin-top: 15px;
    float: right;/*fluid layout*/
    top:0px;
    right: 0px;
}
#photo img{
    width: 100px;
    height: 100px;
}
.title, .location{
    float: right;
}
.title{
    font-size: 20px;/*cascading*/
}
#experience, #awards, #education{
    position: relative;
}
.school, .department, .event{
    position: absolute;
    left: 150px;
    font-weight: bold;
}
.event{
    left: 100px;/*cascading*/
}
.department{
    width: 650px;
}
.name{
    font-style: italic;
}
.experienceItem{
    margin-bottom: 20px;
}
.awardItem{
    margin-bottom: 5px;
}
.link{
    font-size: 14px;
    font-style: normal;
}